html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
/* CSS */
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 4%;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}


* {
  box-sizing: border-box;
}

label {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  margin-top: 30px;
}

legend {
  position: relative;
  z-index: 0; 
  display: inline-block;
  width: auto;
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
}

legend:hover::before{
  transform: rotate(2deg);
}

form.card{
  border: none;
}

.letra {
  white-space: pre-wrap;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.card-body i {
  font-size: 3rem;
  margin-right: 3rem;
}

p {
  color: red;
  font-weight: bold;
  font-size: large;
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  margin: 100px;
}

.error {
  color: rgb(243, 6, 6);
  background-color: #f0c9c1;
  border-color: #ecc1bc;
  margin: 10%;
}

